<ion-header-bar class="bar-dark">
  <h1 class="title">Directions to the Venue</h1>
  <button class="button button-clear" ng-click="logout()">Logout</button>
</ion-header-bar>
<ion-content class="has-header padding" has-tabs="true" on-refresh="onRefresh()">
  <div class="static-map">
    <img src="http://maps.googleapis.com/maps/api/staticmap?center=52.88,-1.849&zoom=12&size=400x400&markers=label:S|color:green|52.8668007,-1.849777">
  </div>
  <div class="button button-block button-positive" ng-click="openMap()">Get Directions</div>
</ion-content>
