<ion-header-bar class="bar-dark">
  <h1 class="title">Completed Items</h1>
  <!--<button class="button button-clear" ng-click="logout()">Logout</button>-->
</ion-header-bar>
<ion-content class="has-header padding" has-tabs="true" on-refresh="onRefresh()">
  <div class="card" ng-repeat="item in list" >
    <div class="item item-text-wrap">
        <img src="http://six-gs.com/upload/{{item.fileName}}"  />
    </div>
  </div>
  <div class="card" >
    <div class="item item-text-wrap" ng-show="noData">
      Quick! Be the first person to take a picture!
    </div>
    <div ng-click="doPicture()" class="item button button-block button-light">Take Picture</div>
    <div ng-click="uploadPicture()" class="item button button-block button-light">Upload Picture</div>
  </div>
</ion-content>
