<ion-header-bar class="bar-dark">
  <button class="button button-clear" ng-click="doRsvp()">RSVP</button>
  <h1 class="title">Hello {{name}}</h1>
  <button class="button button-clear" ng-click="logout()">Logout</button>
</ion-header-bar>
<ion-content class="has-header padding" has-tabs="true" on-refresh="onRefresh()">
  <div class="card" >
    <div class="item item-text-wrap" ng-show="!rsvped">
      <p>It looks like you haven't RSVP'ed yet... Please let us know soon!</p>
    </div>
    <div class="item item-text-wrap" ng-show="rsvped && rsvpStatus">
      <p>You have rsvped positively!! :)</p>
    </div>
    <div class="item item-text-wrap" ng-show="rsvped && !rsvpStatus">
      <p>You have rsvped negatively... :(</p>
    </div>
  </div>
</ion-content>
