/* Empty. Add your own CSS if you like */
html {
    height: 100%;
}
body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
    height: 100%;
}
h1, h2, h3, h4 {
  font-family: Kalam !important;
}
.slider {
  height: 100%;
  padding-bottom: 30px;
}
.slider-slide {
  padding-top: 80px;
  color: #000;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}
#logo {
  margin: 30px 0px;
}
#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}
.rsvp-smiley img {
    display: block;
    margin: auto;
    padding-top: 40px;
}
.margin {
  margin-left: 9px;
  margin-right: 9px;
}
.icon-actions {
  font-size: 23px;
}
.checkbox {
  vertical-align: middle;
}
.actions {
  float: right;
}
.item-text-wrap {
  overflow: auto;
}
.ion-checkmark-circled.icon-actions.margin{
  margin-right: 35px;
}


/* branding */
.bar-header.bar {
  border-top-width: 3px;
  border-top-color: #047319 !important;
}

body {
  background: url(../img/bg.png) left top repeat;
}

body .list .item {
  background-color: rgba(22, 22, 22, 0.1);
}

body .list .button-calm {
  color: #6A6969;
}

.static-map img {
  width: 100%;
}